---
layout: default
title: Notes
---
<h1>Notes ({{ site.notes.size }})</h1>

<ul>
  {% assign mynotes = site.notes | group_by: 'category' | sort: 'size' | reverse %}
  {% for category in mynotes %}
  <h2>{{ category.name | capitalize }} ({{ category.items.size }})</h2>
  <ul>
    {% assign posts = category.items | sort: 'date' %}
    {% for post in posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</ul>