---
layout: default
title: Notes
---
<h1>Notes</h1>

<ul>
  {% assign mynotes = site.notes | sort: 'category' | group_by: 'category' %}
  {% for category in mynotes %}
  <h2>{{ category.name | capitalize }} ({{ category.items.size }})</h2>
  <ul>
    {% assign notes = category.items | sort: 'date' %}
    {% for note in notes %}
    <li>
      <span class="post-meta">{{ note.date | date_to_string: "ordinal", "US" }}</span>
      <a href="{{ note.url | relative_url }}">{{ note.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</ul>