---
layout: base
title: Wiki
---
<div class="simple-search">
  {% include simple-search.html %}
</div>

<h1>Wiki ({{ site.wiki.size }})</h1>

{% assign mywiki = site.wiki | group_by: 'category' %}
{% for cat in mywiki %}
<h2>{{ cat.name | replace:'-', ' ' | capitalize }}</h2>
    <ul>
      {% assign items = cat.items | sort: 'order' %}
      {% for item in items %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}
<h2>透视原理（翻译自<a href="https://www.handprint.com/HP/WCL/tech10.html">hand print perspective</a>）</h2>
<ul>
  <li>
    <a href="/wiki/handprint-perspective/手印：透视元素%200.html">透视原理（一）：透视的要素</a>
  </li>
  <li>
    <a href="/wiki/handprint-perspective/手印：世界观%201.html">透视原理（二）：现实世界中的透视</a>
  </li>
  <li>
    <a href="/wiki/handprint-perspective/手印：中心透视%202.html">透视原理（三）：中心透视</a>
  </li>
  <li>
    <a href="/wiki/handprint-perspective/手印：两点透视%203.html">透视原理（四）：两点透视</a>
  </li>
  <li>
    <a href="/wiki/handprint-perspective/手印：三点透视%204.html">透视原理（五）：三点透视</a>
  </li>
  <li>
    <a href="/wiki/handprint-perspective/手印：高级透视技术%205.html">透视原理（六）：高级透视技术</a>
  </li>
  <li>
    <a href="/wiki/handprint-perspective/手印：阴影、反射和氛围%206.html">透视原理（七）：阴影、反射和环境</a>
  </li>
</ul>