<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include_cached head.html -%}

  <body>
    <script src={{ "assets/javascript/chartjs-2.9.3/chart.min.js" | relative_url }}></script>

    {%- include_cached header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include_cached footer.html -%}
    
    <script src={{ "assets/javascript/mermaid-8.7.0/mermaid.min.js" | relative_url }}></script>
  </body>

</html>